## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [2]:
import pandas as pd # importando o pandas

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil.

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [9]:
df1= pd.read_csv("sample_data/gasolina_2000+.csv", index_col=0) # ele vem com uma coluna unnamed
#logo para arrumar, digitamos index_col=0
df2= pd.read_csv("sample_data/gasolina_2010+.csv",index_col=0)

<ipython-input-9-5b44809a4880>:3: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2= pd.read_csv("sample_data/gasolina_2010+.csv",index_col=0)

# carregando os dois em um só

In [10]:
df = pd.concat([df1,df2])

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [13]:
df.head() # entendendo os dados, séries temporais, períodos de preço de gasolina, e outros dados.

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [ ]:
df.info() # mostra todas as colunas, tipo dos dados

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [19]:
type(df["DATA INICIAL"][3]) # ela é do tipo str, no entanto para
# uma análise mais técnica, é necessário mudar ela.

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [22]:
df["DATA INICIAL"]=pd.to_datetime(df["DATA INICIAL"])

In [44]:
df["DATA FINAL"]=pd.to_datetime(df["DATA FINAL"])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [46]:
df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "-{:02d}".format(x.month))

In [47]:
df["ANO-MES"]

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MES, Length: 120823, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [ ]:
df.columns # todas as colunas

In [ ]:
df['PRODUTO'].value_counts()

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [ ]:
# listando qnd isso sera vdd
df['PRODUTO'] == 'GASOLINA COMUM'

In [51]:
df_filtro = df['PRODUTO'] == 'GASOLINA COMUM' # abrimos colchetes no df e aplicamos uma regra lógica

In [52]:
df2 = df[df_filtro] # tem valores de true ou false

In [53]:
df2.shape # tamanho, 23 mil linhas e 19 colnas e só tem gasolina comum

(23570, 19)

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [56]:
df2[df2["ANO-MES"] == '2008-08']["PREÇO MÉDIO REVENDA"].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [58]:
df2[(df2["ANO-MES"] == '2008-08') & (df2["ESTADO"] == 'SAO PAULO')]["PREÇO MÉDIO REVENDA"].mean()

2.4046

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [59]:
df2[df2["PREÇO MÉDIO REVENDA"] > 5][["ESTADO", "ANO-MES", "PREÇO MÉDIO REVENDA"]].head(5) # lista de filtros
#[["ESTADO", "ANO-MES", "PREÇO MÉDIO REVENDA"]].head(5)
# lógica df2[df2["PREÇO MÉDIO REVENDA"] > 5]

               ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201            ACRE  2018-05                5.053
98347            ACRE  2018-06                5.035
98493            ACRE  2018-06                5.038
98511  RIO DE JANEIRO  2018-06                5.016
98646            ACRE  2018-06                5.031

### 11. Qual a média de preço dos estados da região sul em 2012?

In [60]:
df_aux = df2[(df2["DATA FINAL"].apply(lambda x: x.year) == 2012)] # filtro estados em 2012, convertendo em ano

In [ ]:
df_aux # só em 2012

In [63]:
df_aux[df_aux["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean() # filtro na região sul

2.7214423076923073

In [65]:
df_aux1 = df2[(df2["DATA FINAL"].apply(lambda x: x.year) == 2019)]

In [67]:
df_aux1[df_aux1["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean() # filtro na região sul em 2019

4.252782051282051

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [ ]:
df2["MES"] = df2["DATA FINAL"].apply(lambda x: x.month) # criar coluna mes , transformando em mes
df_rio = df2[df2["ESTADO"] == "RIO DE JANEIRO"] # filtro do estado do rio de janeiro

In [70]:
df_month_rio=df_rio.groupby("ANO-MES")[["PREÇO MÉDIO REVENDA", "MES"]].last() # agrupamento com a ultima informaçao
#dessas ultimas datas do mes

In [ ]:
df_month_rio[df_month_rio["MES"]==12].shift(1) #shift desloca para baixo o índice fixo
# shit muito importante para o mercado financeiro

In [ ]:
(df_month_rio[df_month_rio["MES"]==12]/df_month_rio[df_month_rio["MES"]==12].shift(1) - 1) * 100
# variação em percentual o quanto o preço variou em 2012, a maior variação fi em 2015.

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [76]:
df_max = df2.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"].sort_index()
idx_max = df2.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmin()

df_min = df2.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"].sort_index()
idx_min = df2.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmax()
df_diff = pd.DataFrame()

In [77]:
df_diff["abs_diff"] = df_max - df_min
df_diff["perct_diff"] = (df_max - df_min) / df_min * 100
df_diff["max"] = df_max
df_diff["min"] = df_min

In [ ]:
df2.loc[idx_max, :][["ESTADO", "PREÇO MÉDIO REVENDA", "ANO-MES"]]

In [79]:
df_diff["ESTADO_MAX"] = df2.loc[idx_max, :]["ESTADO"].values
df_diff["ESTADO_MIN"] = df2.loc[idx_min, :]["ESTADO"].values

In [ ]:
df_diff["ESTADO_MAX"].value_counts()

In [81]:
df_diff["ESTADO_MIN"].value_counts()

ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: ESTADO_MIN, dtype: int64